.banner {
    flex-direction: column;
    box-sizing: border-box;
    padding: 2cqmax;
    margin: 10px;
    width: 400px;
    height: 250px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#sobre {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
}

h1 {
    color: rgb(94, 97, 126);
    font-size: 40px;
}


p {
    font-family: Arial;
    text-align:left;
    font-size: 20px;
    font-weight: 15px;
    color: rgb(94, 97, 126);
    
}

h4 {
    font-size: 20px;
}

.meuLink{
    color: rgb(94, 97, 126);
    
}

.meuLinkSkill{
    font-size: 20px;
    color: rgb(94, 97, 126);
    font-family: Arial;
}

#midias { font-family: Arial;
    text-align:left;
    font-size: 20px;
    font-weight: 15px;
    color: rgb(94, 97, 126);
 }

 #redes{
    font-family: Arial;
    text-align:left;
    font-size: 20px;
    font-weight: 15px;
    color: rgb(94, 97, 126);
 }

 .experiencias{
background-color: #684c4c3b;
 }